body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.food, .textures, .obstacles {
    display: none;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
}

#game {
    background-color: #fff;
}